{% extends "@Contao/content_element/youtube.html.twig" %}
{% if contao_bootstrap_enabled() %}
  {% set video_caption_attributes = attrs(video_caption_attributes|default).addClass('figure-caption') %}
  {% block iframe %}
    <div class="ratio ratio-{{ aspect_ratio|replace({':': 'x'}) }}">
    {{ parent() }}
    </div>
  {% endblock %}
{% endif %}
